[*.lua]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf

[*.luau]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf

[*.json]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf

[*.toml]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf

[*.yml]
end_of_line = lf

[*.md]
end_of_line = lf

[*.rbxmx]
end_of_line = lf
