# CI workflow files (selene)
/roblox.yml
*.tmp

# Build Files
/Adonis_**.rbxm
/Adonis_**.rbxmx
/Adonis_**.rbxl
/Adonis_**.rbxlx
/Adonis.rbxm
/Adonis.rbxmx
/Adonis.rbxl
/Adonis.rbxlx
/rojo.exe
/selene.exe
/git.exe
/bash.exe
/sh.exe
/PortableGit
/Adonis_TEMP_ReleaseNotes.txt
