# Change line endings to LF
*.lua text=auto
*.lua eol=lf
*.json text=auto
*.json eol=lf
*.rbxmx text=auto
*.rbxmx eol=lf
*.md text=auto
*.md eol=lf
*.toml text=auto
*.toml eol=lf
*.yml text=auto
*.yml eol=lf
