name: rojo

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - uses: Roblox/setup-foreman@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: rojo build .github/build.project.json -o Adonis_Nightly_${{ steps.date.outputs.date }}.rbxmx

      - uses: actions/upload-artifact@v2
        with:
          name: Adonis_Nightly
          path: Adonis_Nightly_${{ steps.date.outputs.date }}.rbxmx
      
      - name: Send file nightly build to Discord channel
        uses: tsickert/discord-webhook@v3.0.0
        with:
          webhook-url: ${{ secrets.NIGHTLY_WEBHOOK }}
          content: Adonis_Nightly_${{ steps.date.outputs.date }}.rbxmx
