name: Issue labeling

permissions:
  issues: write
  contents: read

on:
  issues:
    types: [opened]
jobs:
  autotriage:
    runs-on: ubuntu-latest
    steps:
    - uses: github/issue-labeler@v3.3
      with:
        configuration-path: .github/labeler.yml
        enable-versioned-regex: 0
        repo-token: ${{ github.token }}
