name: publish

on:
  push:
    branches: [release]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: release
          
      - name: Get current date
        id: date
        run: echo "date::$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - uses: Roblox/setup-foreman@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Build Standalone
        run: rojo build -o Adonis_Release_${{ steps.date.outputs.date }}.rbxm .github/build.project.json
        
      - name: Set DebugMode off
        run: sed -i "s/DebugMode = true/DebugMode = false/g" Loader/Loader/Loader.server.lua 
        
      - name: Build Loader
        run: rojo build -o loader.rbxm .github/loader.deploy.project.json
        
      - name: Build MainModule
        run: rojo build -o module.rbxm .github/module.deploy.project.json

      - name: Send Standalone Release to Discord channel
        uses: tsickert/discord-webhook@v3.0.0
        if: github.repository == 'Epix-Incorporated/Adonis' && github.event_name == 'push'
        with:
          webhook-url: ${{ secrets.NIGHTLY_WEBHOOK }}
          filename: Adonis_Release_${{ steps.date.outputs.date }}.rbxm
        
      #- name: Publish Loader
      #  uses: fjogeleit/http-request-action@v1
      #  with:
      #    url: "${{ secrets.PUBLISH_URL }}/${{ secrets.LOADER_ID }}"
      #    method: "POST"
      #    contentType: "multipart/form-data"
      #    files: '{ "file": "loader.rbxm" }'
      #    customHeaders: '{ "x-auth-token": "${{ secrets.PUBLISH_TOKEN }}" }'
      #    timeout: 10000
      #  
      #- name: Publish MainModule
      #  uses: fjogeleit/http-request-action@v1
      #  with:
      #    url: "${{ secrets.PUBLISH_URL }}/${{ secrets.MODULE_ID }}"
      #    method: "POST"
      #    contentType: "multipart/form-data"
      #    files: '{ "file": "module.rbxm" }'
      #    customHeaders: '{ "x-auth-token": "${{ secrets.PUBLISH_TOKEN }}" }'
      #    timeout: 10000
